<app-navbar></app-navbar>
<style>
    *{
        padding: 0;
        margin:0;
    }

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav{
        height: 50px;
        background-color: #463B7A;
        /* padding: 0 20px; */
        /* box-shadow: #0C0B0B; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .logo{
        font-size: 24px;
        color: white;
    }

    nav ul{
        list-style-type: none;
        display: flex;
    }

    nav li{
        margin: 0 5px;
        width: 93px;
        color:white;
        display: flex;
        justify-content: center;
        /* padding: 6px 0; */
        /* border-radius: 15px; */
        /* border: 1px solid #707070; */
        /* font-size: 21px; */
    }

    .login{
        /* background-color: #1E0892; */
    }

    .register{
        /* background-color: #070127; */
    }

    .nav-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        margin: 0 auto;
    }

    .container{
        padding-top:30px;
        width: 1300px;
        margin: 0 auto;
    }

    .page-title{
        font-size:32px;
        color:#333;
    }

    .page-top{
        display: flex;
    }

    .input-neraca-baru{
        margin-top:25px;
    }

    .input-neraca-baru .input-item{
        width:524px;
    }

    .input-neraca-baru .input-item .label{
        margin-bottom: 5px;;
    }

    .input-neraca-baru input[type="text"], .input-neraca-baru textarea{
        width: 100%!important;
        /* padding:0.9em; */
        padding:0;
        height:34px;
        font-size:16px;
        padding-left:10px;
        max-width: none;
/* width:100%; */
        /* max-width: 425px; */
    }

    .input-neraca-baru textarea{
        height:200px;
    }

    .input-item{
        display: block;
        align-items: baseline;
    }

    /* .input-item button{
        width: 85px;
        height: 35px;
        border: 1px solid #707070;
        color:white;
        background-color: #11A13C;
    } */

    .input-item button{
        width: 85px;
        height: 35px;
        border: 1px solid #707070;
        color: white;
        background-color: #11A13C;
        margin-top:5px
    }


    .input-item.button{
        /* margin-top:35px; */
    }

    a{
        text-decoration: none;
        color: #2900FF; 
    }

    .back a{
        font-size:16px;
    }

</style>
    <div class="container">
        <div class="page-top"> 
            <h2 class="page-title">Buat Baru</h2>
            <!-- <button>Buat Baru</button> -->
        </div>
        <div class="back"><a href="#">Kembali ke daftar neraca</a></div>
        <div class="input-neraca-baru">
            <form [formGroup] = "neracaBaruForm">
                <div class="input-item">
                    <div class="label">Nama Neraca</div>
                    <input formControlName="nama" type="text">
                </div>
                <div class="input-item">
                    <div class="label">Deskripsi</div>
                    <textarea formControlName="deskripsi"></textarea>
                </div>
                <div class="input-item">
                    <button (click)="simpan()">Simpan</button>
                </div>
            </form>
        </div>
    </div>
