<app-navbar></app-navbar>
    <div class="container">
        <div class="page-top"> 
            <h2 class="page-title">Daftar Neraca</h2>
            <button (click)="goToBuatBaru()">Buat Baru</button>
        </div>
        <div class="neraca-list">
            <div class="neraca-item" *ngFor="let neraca of listNeraca">
                <div class="title">
                    {{neraca.value.nama}}
                </div>
                <div class="info">
                    <div>Pemilik: {{neraca.value.pemilik}}</div>
                    <div>Deskripsi: {{neraca.value.deskripsi}}</div>
                    <div class="aksi">
                        <a href="#">Lihat Neraca</a>
                        <a href="#">Hapus Neraca</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="neraca-list">
            <div class="neraca-item">
                <div class="title">
                    Neraca 1
                </div>
                <div class="info">
                    <div>Pemilik:Bude</div>
                    <div>Deskripsi: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros arcu, condimentum ut tortor vel, vestibulum suscipit sapien. Maecenas in ex eleifend, pulvinar magna eget, viverra sem. Sed tincidunt, risus a eleifend viverra, risus turpis suscipit arcu, in ultricies leo lectus ultricies magna. Sed eu mauris in nisl aliquam faucibus. Ut pharetra maximus varius. Sed a turpis tincidunt ligula scelerisque vestibulum. Donec ligula mauris, aliquet ac odio vitae, aliquet fermentum eros. Nullam porta eleifend odio, facilisis iaculis purus consectetur at.</div>
                    <div class="aksi">
                        <a href="#">Lihat Neraca</a>
                        <a href="#">Hapus Neraca</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>