<app-navbar></app-navbar>
    <div class="container">
        <div class="page-top"> 
            <h2 class="page-title">Daftar Neraca</h2>
            <button (click)="goToBuatBaru()">Buat Baru</button>
        </div>
        <div class="neraca-list">
            <div class="neraca-item" *ngFor="let neraca of listNeraca">
                <div class="title">
                    {{neraca.value.nama}}
                </div>
                <div class="info">
                    <div>Pemilik: {{neraca.value.pemilik}}</div>
                    <div>Deskripsi: {{neraca.value.deskripsi}}</div>
                    <div class="aksi">
                        <a [routerLink]="['/neraca',neraca.key]">Lihat Neraca</a>
                        <a (click)="hapusNeraca(neraca.key)">Hapus Neraca</a>
                    </div>
                </div>
            </div>
        </div>
    </div>