<style>

    *{
        padding: 0;
        margin:0;
    }

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav{
        height: 50px;
        background-color: #463B7A;
        /* padding: 0 20px; */
        /* box-shadow: #0C0B0B; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .logo{
        font-size: 24px;
        color: white;
    }

    nav ul{
        list-style-type: none;
        display: flex;
    }

    nav li{
        margin: 0 5px;
        width: 93px;
        color:white;
        display: flex;
        justify-content: center;
        padding: 6px 0;
        border-radius: 15px;
        border: 1px solid #707070;
        /* font-size: 21px; */
    }

    .login{
        background-color: #1E0892;
    }

    .register{
        background-color: #070127;
    }

    .nav-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        margin: 0 auto;
    }

    .content-container{
        width: 1300px;
        height: 500px;
        /* padding-top: 65px; */
        margin: 65px auto;
        display: flex;
        /* background: yellow; */
        overflow-y: scroll;
    }

    .neraca{
        width: 50%;
        height: 100%;
    }

    .pengeluaran{
        border-left: 1.5px solid black;
    }
    .pemasukan{
        border-right:1.5px solid black;
    }

    .pemasukan .title{
        text-align: right;
        color:#11A13C
    }

    .pengeluaran .title{
        /* text-align: right; */
        color:#D20606
    }

    .neraca .title{
        margin: 0 50px;
        font-size:32px;
        font-weight: bold;
    }

    .input-box{
        /* margin: 40px 0; */
        margin:40px 26px;
        display: flex;;
    }

    .pemasukan .input-box{
        /* text-align: right; */
    }

    .pengeluaran .input-box{
        /* text-align: right; */
    }

    .input-box input{
        height: 35px;
        box-sizing: border-box;
        padding: 5px;
    }

    .input-box button{
        width: 85px;
        height: 35px;
        border: 1px solid #707070;
        color:white;
    }

    .pemasukan .input-box button{
        background: #11A13C;
    }

    .pengeluaran .input-box button{
        background: #D20606
    }

    .list .item{
        /* list-style: none; */
         display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list .item button{
        margin-right: 27px;
        width:57px;
        background: #F55151;
        border: 1px solid #707070;
        color:white;
        height:21px;
        font-size: 10px;
    }

    .list .item .nama-pemasukan, .list .item .nominal-pemasukan{
        color: #11A13C;
        font-size:16px;
    }

    .nominal-pemasukan{
        margin-right: 27px;
    }

    .list .item{
        margin-bottom: 22px;;
    }

    .list{
        /* height: 400px; */
        /* height: 100%; */
        /* overflow: hidden; */
        /* background:skyblue; */
    }

    .item-pengeluaran{
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        padding: 0 27px;
        color: #D20606
    }

    .item-pengeluaran button{
        width:57px;
        margin-left: 27px;
        background: #F55151;
        border: 1px solid #707070;
        color:white;
        height:21px;
        font-size: 10px;
    }

    .balance{
        width: 1300px;
        text-align: center;
        margin: 20px auto;
        font-size: 45px;
        color:#333333;
    }

</style>

<!-- <nav>
    <div class="nav-container">
        <h2 class="logo">HitungDuit</h2>
        <ul>
            <li class="login">Login</li>
            <li class="register">Register</li>
        </ul>
    </div>
</nav> -->
<app-navbar></app-navbar>
<div class="content-container">
    <div class="neraca pemasukan">
        <div class="title">Pemasukan</div>
        <div>
            <form class="input-box" [formGroup]="inputPemasukan">
                <!-- Name: <input formControlName="name"  placeholder="Enter Name"> -->
                <!-- Age: <input formControlName="age"  placeholder="Enter Age"> -->
                <!-- <button type="submit">Submit</button>  -->
                <input type="text" formControlName="sumber" placeholder="Sumber ...">
                <input type="number" formControlName="nominal" placeholder="Nominal ...">
                <button (click) = "tambahPemasukan()">Tambah</button>
            </form> 
        </div>
        <div class="list">
            <div class="item" *ngFor="let pemasukan of pemasukans">
                <!-- <h2>{{color}}</h2> -->
                <div class="nama-pemasukan">
                    <button (click)="hapus(pemasukan.sumber)">Hapus</button>
                    <span>{{pemasukan.sumber}}</span>
                </div>
                <div class="nominal-pemasukan">
                    {{pemasukan.nominal}}
                </div>
            </div>
            <!-- <div class="item">
                <div class="nama-pemasukan">
                    <button>Hapus</button>
                    <span>Pemasukan 1</span>
                </div>
                <div class="nominal-pemasukan">
                    Rp.400.000
                </div>
            </div>
            <div class="item">
                    <div class="nama-pemasukan">
                        <button>Hapus</button>
                        <span>Pemasukan 1</span>
                    </div>
                    <div class="nominal-pemasukan">
                        Rp.400.000
                    </div>
            </div>
            <div class="item">
                    <div class="nama-pemasukan">
                        <button>Hapus</button>
                        <span>Pemasukan 1</span>
                    </div>
                    <div class="nominal-pemasukan">
                        Rp.400.000
                    </div>
            </div>
            <div class="item">
                    <div class="nama-pemasukan">
                        <button>Hapus</button>
                        <span>Pemasukan 1</span>
                    </div>
                    <div class="nominal-pemasukan">
                        Rp.400.000
                    </div>
            </div>
                <div class="item">
                        <div class="nama-pemasukan">
                            <button>Hapus</button>
                            <span>Pemasukan 1</span>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                </div>
                <div class="item">
                        <div class="nama-pemasukan">
                            <button>Hapus</button>
                            <span>Pemasukan 1</span>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                </div>
                <div class="item">
                        <div class="nama-pemasukan">
                            <button>Hapus</button>
                            <span>Pemasukan 1</span>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                </div>
                <div class="item">
                        <div class="nama-pemasukan">
                            <button>Hapus</button>
                            <span>Pemasukan 1</span>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                </div>
                <div class="item">
                        <div class="nama-pemasukan">
                            <button>Hapus</button>
                            <span>Pemasukan 1</span>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                </div> -->
            </div>
        </div>
        <div class="neraca pengeluaran">
            <div class="title">Pengeluaran</div>
            <div>
                <form class="input-box" [formGroup]="inputPengeluaran">
                    <!-- Name: <input formControlName="name"  placeholder="Enter Name"> -->
                    <!-- Age: <input formControlName="age"  placeholder="Enter Age"> -->
                    <!-- <button type="submit">Submit</button>  -->
                    <input type="text" formControlName="sumber" placeholder="Sumber ...">
                    <input type="number" formControlName="nominal" placeholder="Nominal ...">
                    <button (click) = "tambahPengeluaran()">Tambah</button>
                </form> 
                    <!-- <input type="text" placeholder="Keperluan ...">
                    <input type="number" placeholder="Nominal ...">
                    <button>Tambah</button> -->
            </div>
            <div class="list">
                <div class="item-pengeluaran" *ngFor="let pengeluaran of pengeluarans">
                    <!-- <h2>{{color}}</h2> -->
                    <div class="nama-pengeluaran">
                        <span>{{pengeluaran.sumber}}</span>
                        <button (click)="hapus(pengeluaran.sumber)">Hapus</button>
                    </div>
                    <div class="nominal-pemasukan">
                        {{pengeluaran.nominal}}
                    </div>
                </div>
                    <!-- <div class="item-pengeluaran">
                        <div class="nama-pengeluaran">
                            <span>Pengeluaran 1</span>
                            <button>Hapus</button>
                        </div>
                        <div class="nominal-pemasukan">
                            Rp.400.000
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="balance">Balance: {{balance}}</div>
    <!-- <h1>Hello world</h1> -->
