<style>

    

    *{

        box-sizing: border-box;
        padding:0;
        margin:0;
    }

    *{
        padding: 0;
        margin:0;
    }

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    nav{
        height: 50px;
        background-color: #463B7A;
        /* padding: 0 20px; */
        /* box-shadow: #0C0B0B; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .logo{
        font-size: 24px;
        color: white;
    }

    nav ul{
        list-style-type: none;
        display: flex;
    }

    nav li{
        margin: 0 5px;
        width: 93px;
        color:white;
        display: flex;
        justify-content: center;
        padding: 6px 0;
        border-radius: 15px;
        border: 1px solid #707070;
    }

    .login{
        background-color: #1E0892;
    }

    .register{
        background-color: #070127;
    }

    .nav-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        margin: 0 auto;
    }

    a {
        color: #0f548a;
        text-decoration: none;
        font-size: 13px;
        cursor:pointer
    }

    a:hover{
        color:#1891f0;
    }

    body{
            /* padding:20px; */
            background-color: #f0f4f7;
            font-size:13px;
            box-sizing: border-box;
            
        }
    
    .box{
            padding: 12px 12px 4px 12px;
            border: 1px solid #a3bac9;
            border-radius:3px;
            background:white;
    }

    .box.login{
        width:450px;
        margin: 0 auto;
    }

    .box.login .header{
        text-align:center;
    }

    .header{
            padding-top:4px;
            padding-bottom:16px;
            padding: 4px 4px 16px 4px;
            border-bottom: 1px solid #dae2e8;
        }
    .phui-header{
            font-size:24px;
            line-height: 24px;
            color: #463B7A;
    }
       
    .dashboard-panel{
            padding:20px;
    }

    .input-item label{
            margin-right:10px;
            width:100px;
            display: inline-block;
            font-size:14px;
            line-height: 1.5;
    }

    .input-item{
            display: flex;
            align-items: center;
            margin-bottom:14px;
    }

    .button,button{
            font-weight: bold;
            color:#ffffff;
            background: #463B7A;;
            padding: 5px 3px !important;
            font-size: 1rem;
            text-shadow: none;
            line-height: 1.2;
            display: inline-block;
            margin: 0 10px 0 0;
            border-radius: 4px;
            border: 3px solid transparent;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-decoration: none !important;
            text-align: center;
        }
        
        #content{
            /* padding-top:20px; */
            display: flex;
            height: 100vh;
            align-items: center;
        }

        input[type="text"],input[type="password"],select{
            padding:0.9em;
            font-size:14px;
            width:100%;
            max-width: 425px;
        }

    </style>
<!-- <nav>
    <div class="nav-container">
        <h2 class="logo">HitungDuit</h2>
        <ul>
            <li class="login">Login</li>
            <li class="register">Register</li>
        </ul> -->
    <!-- </div> -->
<!-- </nav> -->
<app-navbar></app-navbar>
<div id="content">
    <div class="box login">
        <div class="header">
            <h1><span class="phui-header">Register</span></h1>
        </div>
        <div class="dashboard-panel">
            <form [formGroup]="registerForm">
                <div class="input-item">
                    <label name="username" id="username">Username</label>
                    <input formControlName="username" required placeholder="username ..." type="text" name="username" id="username">
                </div>
                <div class="input-item">
                    <label name="email" id="email">Email</label>
                    <input formControlName="email" required placeholder="email ..." type="text" name="email" id="email">
                </div>
                <div class="input-item">
                    <label name="password" id="password">Password</label>
                    <input formControlName="password" required placeholder="password ..." type="password" name="password" id="password"s>
                </div>
                <div class="input-item">
                    <label name="password" id="password">Konfirmasi Password</label>
                    <input formControlName="konfirmasiPassword" required placeholder="konfirmasi-password ..." type="password" name="konfirmasi-password" id="konfirmasi-password">
                </div>
                <div class="input-item">
                    <input class="button" (click) = "register()" value="Register">
                    <span><a routerLink="/login">Login</a></span>
                </div>
            </form>
        </div>
    </div>
    <!-- <div id="login-container" style="width: 300px;margin: 0 auto;">
        <h2 style="text-align: center;">Login</h2>
        <form action="login" method="POST" id="input" style="text-align: center;padding-top: 40px;">
            {% csrf_token %}
            <input placeholder="username" class="login-register-input" type="text" name="username">
            <input placeholder="password" class="login-register-input" type="password" name="password" >
            <input type="submit" value="Login" style="background-color: skyblue;padding: 10px;" class="login-register-input"/>
        </form>
    </div> -->
</div>